
<div class="page-banner order-hamper-banner"></div>
<div class="container userForm">
    <h1 class="form-title">Order Hamper</h1>
    <form action="/" method="post">

        <div class="form-group">
            <label>Payments</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Order Now</button>
        </div>
    </form>
</div>
